<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="navbar" class="w-100">
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"
                sec:authorize="hasAnyRole('ADMIN','LIBRARIAN','READER')">
                <a class="nav-link fw-bold" th:href="@{/books}">
                    <i class="bi bi-house-door me-1"></i>Trang chủ
                </a>
            </li>
            <!--            DÀNH CHO READER-->
            <li class="nav-item"
                sec:authorize="hasAnyRole('READER')">
                <a class="nav-link fw-bold" th:href="@{/borrow-requests}">
                    <i class="bi bi-book me-1"></i>Yêu cầu mượn sách
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('READER')">
                <a class="nav-link fw-bold" th:href="@{/borrow-history}">
                    <i class="bi bi-calendar2-week me-1"></i>Lịch sử mượn sách
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('READER')">
                <a class="nav-link fw-bold" th:href="@{/new-book-requests}">
                    <i class="bi bi-journal-plus me-1"></i>Yêu cầu bổ sung sách mới
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('READER')">
                <a class="nav-link fw-bold" th:href="@{/reader/fines}">
                    <i class="bi bi-cash me-1"></i>Phiếu phạt
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('READER')">
                <a class="nav-link fw-bold" th:href="@{/reader/fines/payments}">
                    <i class="bi bi-receipt me-1"></i>Lịch sử nộp phạt
                </a>
            </li>
<!--            DÀNH CHO LIBRARIAN-->
            <li class="nav-item"
                sec:authorize="hasAnyRole('LIBRARIAN')">
                <a class="nav-link fw-bold" th:href="@{/librarian/borrowers-this-week}">
                    <i class="bi bi-card-checklist me-1"></i>Người mượn sách tuần này
                </a>
            </li>
<!--            <li class="nav-item"-->
<!--                sec:authorize="hasAnyRole('LIBRARIAN')">-->
<!--                <a class="nav-link fw-bold" th:href="@{/librarian/issue}">-->
<!--                    <i class="bi bi-box-arrow-up-right me-1"></i>Giao sách-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item"
                sec:authorize="hasAnyRole('LIBRARIAN')">
                <a class="nav-link fw-bold" th:href="@{/librarian/confirm-return}">
                    <i class="bi bi-check-circle me-1"></i>Xác nhận trả sách
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('LIBRARIAN')">
                <a class="nav-link fw-bold" th:href="@{/librarian/borrow-requests}">
                    <i class="bi bi-book me-1"></i>Yêu cầu mượn sách
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('LIBRARIAN')">
                <a class="nav-link fw-bold" th:href="@{/librarian/fines/manage}">
                    <i class="bi bi-cash-coin me-1"></i>Quản lý phiếu phạt
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('LIBRARIAN')">
                <a class="nav-link fw-bold" th:href="@{/librarian/fines/create}">
                    <i class="bi bi-cash-stack me-1"></i>Tạo phiếu phạt
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('LIBRARIAN')">
                <a class="nav-link fw-bold" th:href="@{/librarian/statistics}">
                    <i class="bi bi-bar-chart me-1"></i>Thống kê
                </a>
            </li>
            <!--            DÀNH CHO ADMIN-->
            <li class="nav-item"
                sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-link fw-bold" th:href="@{/admin/accounts}">
                    <i class="bi bi-person-circle me-1"></i>Quản lý tài khoản
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-link fw-bold" th:href="@{/admin/books}">
                    <i class="bi bi-book me-1"></i>Quản lý sách
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-link fw-bold" th:href="@{/admin/categories}">
                    <i class="bi bi-tags me-1"></i>Quản lý danh mục
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-link fw-bold" th:href="@{/admin/authors}">
                    <i class="bi bi-people me-1"></i>Quản lý tác giả
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-link fw-bold" th:href="@{/admin/new-book-requests}">
                    <i class="bi bi-journal-plus me-1"></i>Yêu cầu bổ sung sách mới
                </a>
            </li>
            <li class="nav-item"
                sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-link fw-bold" th:href="@{/admin/statistics}">
                    <i class="bi bi-bar-chart me-1"></i>Thống kê
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>